<div id="home-screen" class="center hero-unit">
	<%= link_to "Map", '/map', class: "btn btn-large btn-primary" %>

	<br>
	<br>
	
	<div class="row-fluid">
		<div id="choices">
			<% @places.each do |place| %>
				<div class="filled" >
					<div class="filler" style="height:<%= (place.score.to_f/100)*170 %>px; min-height: 10px;"></div>
					<div class="overlay">
						<a href="\places/<%= place.id %>">
							<%= place.name%>
						</a>
						<div class="score">
							<%= place.score %>
						</div>
					</div>
					<div class="voting-form-container">
						<%= render 'votes/form', :place => place %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
