<div class="center hero-unit">
<!-- 	<h3>BU's busyness score: 
		<span style="color: <%= @average_score_color %>;">
			<%= @average_score %>
		</span>
	</h3>
 -->
	<%= link_to "Map", '/map', class: "btn btn-large btn-primary" %>
	<%= link_to "Places", '/places', class: "btn btn-large btn-primary" %>
	<%= link_to "Vote", '/vote', class: "btn btn-large btn-primary" %>

	<br>
	<br>
	
	<div class="row">
		<div id="choices">
			<% @places_and_colors.each do |place, color| %>
				<a href="\places/<%= place.id %>/60">
					<div class="square choice" style="background-color:<%= color %> ;">
						<%= place.name%>
						<h3><%= place.score %></h3>
					</div>
				</a>
			<% end %>
		</div>
	</div>
</div>
