<div class="center hero-unit">
<!-- 	<h3>BU's busyness score: 
		<span style="color: <%= @average_score_color %>;">
			<%= @average_score %>
		</span>
	</h3>
 -->
	<%= link_to "Map", '/map', class: "btn btn-large btn-primary" %>

	<br>
	<br>
	
	<div class="row-fluid">
		<div id="choices">
			<% @places.each do |place| %>
				<% score = weighted_score(votes_within(60, place.id)) %> <!-- use the weighted score -->
				<a href="\places/<%= place.id %>">
					<div class="filled" >
						<div class="filler" style="height:<%= (score.to_f/100)*170 %>px; min-height: 10px;"></div>
						<div class="overlay">
							<%= place.name%>
							<div class="score">
								<%= score %>
							</div>
						</div>
					</div>
				</a>
			<% end %>
		</div>
	</div>
</div>
