<title>Bike Accidents</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
$(document).ready(function(){

	var myOptions = {
		center: new google.maps.LatLng(<%= @center_lat %>, <%= @center_long %>),
		zoom: 14,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	var addressArray = new Array(<%= raw @addresses %>)[0];
	var scoresArray = new Array(<%= raw @scores %>)[0];
	var namesArray = new Array(<%= raw @names %>)[0];
	var infoWindow = new google.maps.InfoWindow({content: ''});

	function add_marker(i) {
		// add marker to page
	    var marker = new google.maps.Marker({
	    	map: map, 
	    	position: new google.maps.LatLng(addressArray[i][0],addressArray[i][1])
	    });
	    // set note text
	    marker.note = namesArray[i] + ": " + scoresArray[i];
	    // set marker color
		if (scoresArray[i] < 33) {
			marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
		} else if (scoresArray[i] > 66) {
			marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
		} else {
			marker.setIcon('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png');
		}
		// add click listener to display the note
	    google.maps.event.addListener(marker, 'click', function() {
	        infoWindow.content = this.note;
	        infoWindow.open(this.getMap(), this);
	    });
	    return marker;
	}
	
	for (var i = 0; i < addressArray.length; i++) {
		add_marker(i);
	}
});
	

</script>

<style>
#map_canvas {
	width: 100%;
	height: 500px;
}
</style>

<div id="map_canvas"></div>