<!-- display place names, display each vote for the place -->
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<center>
	<h1><a href="/"> &#8592; </a><%= @place.name %></h1>
	<% if @place.score.nil? %>
		<h2>No recent votes!</h2>
		<h1 style= "color:<%= @color %>; font-weight: bold;"><%= @place.score %></h1>
	<% else %>
		<h2>Bzzy score for the past <%= @time_ago %> minutes: <%= @score %></h2>
		<%= render 'votes/form2', :place => @place %>
	<% end %>

	<div id="choices">
		<a href="/places/<%= @place.id %>/60">
			<div class="choice">last hour</div>
		</a>
		<a href="/places/<%= @place.id %>/<%= 24*60 %>">
			<div class="choice">last day</div>
		</a>
		<a href="/places/<%= @place.id %>/<%= 7*24*60 %>">
			<div class="choice">last week</div>
		</a>
	</div>
	<% if !@graphable.empty? %>
		<%= line_chart @graphable %>
	<% end %>
</center>