<!DOCTYPE html>
<html>
  <head>
    <title> BUzzy </title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if controller_name == "static_pages" && action_name == "home" %>
      <%= render 'layouts/homebanner' %>
    <% end %>
    <div class="container-fluid">
      <% flash.each do |key,value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
    <% if controller_name == "static_pages" && action_name == "home" %>
      <%= render 'layouts/infofooter' %>
    <% end %>
    <!--<%= render 'layouts/footer' %>-->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>

